@import url(banner.css);
@import url(menu.css);
@import url(informacion.css);

#msj p{
 text-align: center;
}

#msj{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*estilos de la mision de la pagina conocenos.html*/
#enfoque h2, h4, p{
    text-align: justify;
    font-size: x-large;
}

#enfoque .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#enfoque article{
    margin: 15px;
}

#enfoque img{
    width: 100%;
    max-width: 280px;
    border-radius: 50%;
}

#enfoque center p{
    text-align: center;
}

/*estilos css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'NotoSansSC-Black';
    background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

header{
    width: 100%;
    height: 50px;
    background: #474B4E;
    color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    
}

.contenedor{
    width: 98%;
    margin: auto;
    
}

h1{
    float: left;
    font-family: 'NotoSansSC-Black';
    color: white;
}


header .contenedor{
    display: table;
}

header .contenedor img{
    float: left;
    border-radius: 30%;
    width: 45px;
    height: 45px;
    padding-left: 2px;
    padding-right: 4px;
    padding-top: 4px;
}

section{
    width: 100%;
    margin-bottom: 25px;
}

#obras{
    text-align: center;
}

footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy{
    font-size: 20px;
}

@media (min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}

/*hasta aqui*/


